//base
@import "base/base";

//layout
@import "layout/header";

html,
body {
    height: 100%;
}

body {
  background: url(./assets/images/pattern.png);
}

.pastel-effect {
    width: 250px;
    position: absolute;
    z-index: 99;
    left: 0px;
    top: 40px;
    display: none;

    img {
        width: 100%;
    }

    @include media(">desktop") {
        display: block;
    }
}

.wave-bg {
    width: 100%;
    height: 546px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.wrap {
    width: 100%;
    height: 100%;
}
