<template>
  <div class="c-file-input js-file-input">
      <img class="c-file-input__indicator" v-if="!fileURL" :src="iconFile" alt="">
      <label class="c-file-input__label js-file-input__label" for="inputfile">
        <div class="image-preview" v-if="fileURL">
          <img :src="fileURL" />
        </div>
        <span>Selecione aqui a imagem do produto</span>
        <input
          id="inputfile"
          type="file" @change="onFileChange"
          accept="image/x-png,image/jpeg"
          name="attachment" class="c-file-input__field js-file-input__field">
      </label>
  </div>
</template>

<script>
import iconFile from '../../assets/images/file-icon.png';
import { mapState, mapActions, mapGetters} from 'vuex'

export default {
  name: "order-form",
  data() {
    return {
      value: '',
      url: null,
      iconFile
    };
  },
  computed: {
    ...mapState('OrderStore', ['file']),
    ...mapGetters('OrderStore', ['fileImageUrl']),
    ...mapActions('OrderStore', ['addFileStore']),

    fileURL() {
      return this.$store.getters['OrderStore/fileImageUrl']
    },
  },
  methods: {
    onFileChange(e) {
      const file = e.target.files[0];
      if(file != undefined || file != null) {
        this.url = URL.createObjectURL(file);
        this.$store.dispatch('OrderStore/addFileStore', {image: this.url})
      }
    }
  }
};
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/module/inputFile.scss";
</style>