@mixin font($size, $color, $weight) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

@mixin box-shadow {
    -webkit-box-shadow: 0px 10px 12px 1px rgba(163, 35, 35, 0.15);
    -moz-box-shadow: 0px 10px 12px 1px rgba(163, 35, 35, 0.15);
    box-shadow: 0px 10px 12px 1px rgba(163, 35, 35, 0.15);
}

