// Colors
$red: #e43636;
$red-hover: #af0d0d;
$yellow: #ffca00;
$yellow-hover: #f1a500;
$brown: #a03400;

//Fonts
$family: 'Roboto', sans-serif;

//Sizes
$max-width: 760px;

//Breakpoints
$breakpoints: (phone: 320px, tablet: 640px, desktop: 1024px);