<template>
  <div class="app">
    <order-form />
    <order-list />
  </div>
</template>

<script>

import OrderForm from "@/components/module/orderForm.vue";
import OrderList from "@/components/layout/orderList.vue";


export default {
  name: "Home",
  data() {
    return {

    };
  },
  components: {
    OrderForm,
    OrderList
  },
  computed: {
    //
  }
};
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/layout/main.scss";
</style>
