<template>
  <header class="main-header">
    <div class="main-header__content">
      <img :src="logo" class="main-headerr__logo" alt="Pastel de Ideias" />
      <img :src="pasteis" alt="" class="main-header__pasteis-right">
    </div>
  </header>
</template>

<script>
import logo from './../../assets/images/logo.svg'
import pasteis from './../../assets/images/pasteis-img.png'



export default {
  name: 'main-header',
  data () {
    return {
      logo,
      pasteis
    }
  }
}
</script>
