<template>
  <section class="order-list">
    <h2 class="order-list__title"><span>Veja como será apresentado para o cliente</span></h2>
    <div class="status-order" v-if="status === 'no-data'">
      <h2>Nenhuma ordem adicionada</h2>
    </div>
    <div class="order-list__orders" v-if="status === 'success'">
      <order-wrap
        v-for="order in ordersFilter"
        :key="order.index"
        :order-type="order.type"
        :product-image="order.image"
        :order-title="order.title"
        :order-price="order.price"
        :order-flavor="order.flavor"
        :order-description="order.description"
      />
    </div>
  </section>
</template>

<script>
import orderWrap from "@/components/module/orderWrap.vue";
import { mapState, mapMutations, mapGetters} from 'vuex'

export default {
  name: "order-list",

  data() {
    return {
      //
    };
  },

  computed: {
      ...mapState('OrderStore', ['orders' , 'ordersFilter', 'initialState']),
      ...mapGetters('OrderStore', ['status']),
      ...mapMutations('OrderStore', ['changeInitialState', 'addOrder'])
  },

  components: {
    orderWrap
  }
};
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/module/orderList.scss";
</style>