@import "../base/_variables";
@import "../base/_mixins";

.btn {
  border: 0;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  width: 130px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: $family;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn--yellow {
  background: $yellow;
  @include font(1em, $brown, 700);

  &:hover {
    background: $yellow-hover ;
    color: #fff;
  }
}

.btn--red {
  background: $red;
  @include font(1em, #fff, 700);

  &:hover {
    background: $red-hover ;
    color: #fff;
  }
}