@import "../base/_variables";
@import "../base/_mixins";

.c-file-input {
    position: relative;
    padding: 10px 12px;
    @include font(0.8em, $brown, 400);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 13px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid $red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-preview {
    width: 150px;
    height: 150px;
    margin: 10px auto;

    img {
      max-width: 100%;
      height: 100%;
    }
  }
  
  .c-file-input__label {
    width: 100%;
    text-align: center;
    height: 100%;
    cursor: pointer;

  }
  
  .c-file-input__field {
    position: absolute !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    z-index: -1;
  }
  
  .c-file-input__indicator {
    display: block;
    margin: 0 0 10px 0;
  }