@import "../base/_variables";
@import "../base/_mixins";
@import '../base/_include-media';

.order-wrap {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  box-sizing: border-box;

  @include media(">tablet") {
    @include box-shadow;
    margin-left: 70px;
    width: calc(100% - 70px);
  }

  .order-wrap__product-image {
    width: 100%;
    height: 100%;

    @include media(">tablet") {
      position: absolute;
      left: -70px;
      top: 15px;
      width: 145px;
      height: 145px;
    }

    .product-image {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      @include box-shadow;
    }
  }

  .order-wrap__header {
    width: 100%;
    height: 52px;
    padding: 10px 15px;
    background: $red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;

    @include media(">tablet") {
      padding: 5px 10px 5px 100px;
    }

    .order-title {
      @include font(1.25em, $yellow, 700);
      font-family: $family;
    }

    .order-price {
      @include font(1em, #fff, 700);
      font-family: $family;
    }
  }

  .order-wrap__description {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid $red;

    @include media(">tablet") {
      padding: 30px 10px 25px 100px;
      border: 0;
    }
  }
}

.order-text {
  @include font(1em, $brown, 400);
  font-family: $family;
  margin: 0 0 20px 0;
  width: 100%;
  text-align: left;

  strong {
    font-weight: 700;
  }
}
