@import "buttons";
@import "../base/_mixins";
@import '../base/_include-media';

.order-form {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @include media(">tablet") {
        margin-bottom: 70px;
    }
    
    @include box-shadow;
    border-radius: 10px;

    .oder-form__header {
        width: 100%;
        background: $yellow;
        padding: 20px 20px 32px 40px;
        border-radius: 5px 5px 0 0;
        display: flex;
        justify-content: space-between;

        h1 {
            @include font(1.1em, $brown, 700);
            font-family: $family;

        }

        .switch-btn {
            display: flex;
            p {
                @include font(0.8em, $brown, 400);
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }

    .form-error {
        @include font(0.8em, $red, 400);
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        padding-bottom: 25px;
        padding-top: 10px;
        text-align: center;
    }

    .order-form__form {
        width: 100%;
        background: #fff;
        box-sizing: border-box;
        padding: 0px 15px 25px 15px;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .input-40 {
        width: 100%;
        margin-bottom: 10px;

        @include media(">tablet") {
            width: 40%;
            margin-bottom: 0;
        }
    }

    .input-15 {
        width: 40%;
        margin-bottom: 10px;

        @include media(">tablet") {
            width: 15%;
            margin-bottom: 0;
        }
    }

    .input-text,
    .textarea {
        @include font(0.8em, $brown, 400);
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin-bottom: 13px;
    }
 
    .input-text {
        padding: 5px 12px;

        &:first-child {
            margin-top: -15px;
        }

        @include media(">tablet") {
            margin-top: -15px;
        }
    }

    ::placeholder {
        @include font(0.9em, $brown, 400);
        font-family: Arial, Helvetica, sans-serif;
    }

    .input-text--red,
    .textarea--red {
        background: #fff;
        border-radius: 10px;
        border: 1px solid $red;
    }

    .textarea {
        width: 100%;
        padding: 10px 12px;
        resize:none;
        height: 50px;
    }

    .order-form__form__buttons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        @include media(">tablet") {
            position: absolute;
            bottom: -25px;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 10px;
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.3s;
    margin: 0 8px;
  }
  .switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius:50%;
    background-color: $red;
    top: -4px;
    left: 0;
    transition: all 0.3s;
  }
  
  .checkbox:checked + .switch::after {
    left : 19px;
  }
  .checkbox {
    display : none;
  }