@import "../base/_variables";
@import "../base/_mixins";
@import '../base/_include-media';

.order-list {
    width: 100%;
    text-align: center;

    .order-list__title {
        @include font(1.2em, $brown, 700);
        font-family: $family;
        font-style: italic;
        margin: 0px 0 30px 0;
        position: relative;

        @include media(">tablet") {
          margin: 0px 0 50px 0;
      }

        span {
            @include media(">tablet") {
                background-color: white;
                padding: 0 35px;
            }
        }

        &::after {
          @include media(">tablet") {
            content:"";
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            height: 2px;
            border-top: 2px solid $red;
            z-index: -1;
          }    
        }
    }

    .order-list__orders {
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
    }

    .status-order {
        @include font(1em, $red, 400);
        font-family: $family;
    }
}