.main-header {
    width: 100%;
    position: relative;
    z-index: 1;

    .main-header__content {
        max-width: $max-width;
        position: relative;
        text-align: center;
        padding: 40px 0 20px 0;
        margin: 0 auto;
    }

    .main-headerr__logo {
        max-width: 450px;
        margin: 0 auto;
        width: 80%;

        @include media(">tablet") {
            width: 100%;
            margin-left: -40px;
        }
    }

    .main-header__pasteis-right {
        width: 185px;
        position: absolute;
        z-index: 2;
        right: 0px;
        bottom: -90px;
        display: none;

        @include media(">tablet") {
            display: block;
        }
    }
}