<template>
  <main class="wrap">
    <div class="wave-bg" :style="{ backgroundImage: `url(${waveUrl})` }"></div>
    <parallax-container class="pastel-effect">
      <parallax-element type="translation" :parallaxStrength="-20" tag="img" :src="pastelEffect" />
    </parallax-container>
    <main-header />
    <router-view />
  </main>
</template>

<script>
import Vue from 'vue'
import { ParallaxContainer, ParallaxElement } from 'vue-mouse-parallax'

Vue.component('parallax-container', ParallaxContainer)
Vue.component('parallax-element', ParallaxElement)

import mainHeader from "@/components/layout/header"
import waveUrl from './assets/images/wave.svg'
import pastelEffect from './assets/images/pastel-paralax.png'

export default {
  name: "app",
  data() {
    return {
      waveUrl,
      pastelEffect
    }
  },
  components: {
    mainHeader
  }
};
</script>
<style lang="scss">
  @import "@/assets/scss/app.scss";
</style>
