<template>
  <section class="order-form">
    <div class="oder-form__header">
      <h1>Monte aqui seu cardápio. O que está esperando?</h1>
      <div class="switch-btn">
        <p>Comida</p>
        <input type="checkbox" id="toggle" class="checkbox" />  
        <label for="toggle" @click="filterOrdersList" class="switch"></label>
        <p>Bebida</p>
      </div>
    </div>
    <form class="order-form__form" v-on:submit.prevent ref="orderForm">
      <p v-if="errorMessage" class="form-error">{{errorMessage}}</p>
      <input id="title" 
      v-model="formValues.title" 
      :placeholder="formPlaceholders.title" 
      type="text"
      :maxlength="60"
      class="input-text input-text--red input-40" />

      <input id="flavor" 
      v-model="formValues.flavor" 
      :placeholder="formPlaceholders.flavor" 
      type="text"
      :maxlength="60"
      class="input-text input-text--red input-40" />
      
      <input id="price" 
      v-model="formValues.price" 
      :placeholder="formPlaceholders.price" 
      type="text"
      @keypress="checkNumberInput($event)"
      class="input-text input-text--red input-15" />

      <textarea id="description" 
      v-model="formValues.description" 
      :placeholder="formPlaceholders.description" 
      class="textarea textarea--red"></textarea>
      <input-file />
      <div class="order-form__form__buttons">
        <button class="btn btn--red" @click="cleanForm">Limpar</button>
        <button class="btn btn--yellow" @click="addOrder" >Cadastrar</button>
      </div>
    </form>
  </section>
</template>

<script>
import { mapActions, mapGetters} from 'vuex'
import InputFile from './../custom/inputFile'
import foodPreviewImg from './../../assets/images/food-placeholder.png'

export default {
  name: "order-form",
  
  data() {
    return {
      foodPreviewImg,
      errorMessage: null,
      formValues: {
        title: "",
        flavor: "",
        price: "",
        description: ""
      },
      formPlaceholders: {
        title: "Titulo",
        flavor: "Sabor",
        price: "R$",
        description: "Descrição"
      }
    }
  },

  computed: {
    ...mapActions('OrderStore', ['createOrder', 'addFileStore', 'setSwitchState']),
    ...mapGetters('OrderStore', ['fileImageUrl', 'getSwitchState', 'getSwitchOrders'])
  },

  methods: {
    addOrder() {
      let type = this.$store.getters['OrderStore/getSwitchState'];
      let title = this.formValues.title;
      let price = this.formValues.price;
      let flavor = this.formValues.flavor;
      let description = this.formValues.description;
      let image = this.$store.getters['OrderStore/fileImageUrl'];

      if(title.length >= 3 && price != '' && flavor.length >= 3) {
        this.$store.dispatch('OrderStore/setStatus', 'success')
        this.$store.dispatch('OrderStore/createOrder', {
          type: type,
          title: title,
          price: price,
          flavor: flavor,
          description: description,
          image: image
        })

        //update the store with new array based on type
        this.$store.getters['OrderStore/getSwitchOrders']

        //clear form
        this.cleanForm();
      } else {
        this.errorMessage = "Titulo, Preço e Sabor devem ser preenchidos. Mínimo de 3 caracteres"
      }

    },
    cleanForm() {
      this.formValues.title = ''
      this.formValues.flavor = ''
      this.formValues.price = ''
      this.formValues.description = ''

      this.$store.dispatch('OrderStore/addFileStore', {})
    },
    checkNumberInput: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();;
      } else {
        return true;
      }
    },
    filterOrdersList() {
      let type = this.$store.getters['OrderStore/getSwitchState'];

      if(type === 'comida') {
        this.$store.dispatch('OrderStore/setSwitchState', 'bebida')
        this.$store.getters['OrderStore/getSwitchOrders']
      } else {
        this.$store.dispatch('OrderStore/setSwitchState', 'comida')
        this.$store.getters['OrderStore/getSwitchOrders']
      }
    }
  },

  components: {
    InputFile
  }
};
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/module/orderForm.scss";
</style>
