<template>
  <div class="order-wrap">
    <div class="order-wrap__product-image">
      <img v-if="productImage" :src=productImage :alt=orderTitle class="product-image" />
      <div v-else>
        <p>{{type}}</p>
        <img v-if="orderType === 'comida'" :src="foodPreviewImg" class="product-image" alt="">
        <img v-if="orderType === 'bebida'" :src="drinkPreviewImg" class="product-image" alt="">
      </div>
    </div>
    <div class="order-wrap__header">
      <h2 class="order-title">
        "{{orderTitle}}"
      </h2>
      <p class="order-price">
        R${{orderPrice}}
      </p>
    </div>
    <div class="order-wrap__description">
      <p class="order-text order-text--flavor">
        <strong>Sabor: </strong>{{orderFlavor}}
      </p>
      <p v-if="orderDescription" class="order-text order-text--description">
        <strong>Descrição: </strong> {{orderDescription}}
      </p>
    </div>
  </div>
</template>

<script>
import foodPreviewImg from './../../assets/images/food-placeholder.png'
import drinkPreviewImg from './../../assets/images/drink-placeholder.png'

export default {
  name: "order-wrap",

  data() {
    return {
      foodPreviewImg,
      drinkPreviewImg,
      type: ''
    }
  },

  props: {
    orderType: {
      type: String,
      default: ""
    },
    productImage: {
      type: String,
      default: ""
    },
    orderTitle: {
      type: String,
      default: ""
    },
    orderPrice: {
      type: String,
      default: ""
    },
    orderFlavor: {
      type: String,
      default: ""
    },
    orderDescription: {
      type: String,
      default: ""
    },
  },

};
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/module/orderWrap.scss";
</style>
